
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table {
        font-size: 16px;
    }

    th {
        font-size: 20px;
        font-weight: bold;
        vertical-align: central;
    }

    .table-bordered thead > tr > th, .table-bordered tbody > tr > th, .table-bordered tfoot > tr > th, .table-bordered thead > tr > td, .table-bordered tbody > tr > td, .table-bordered tfoot > tr > td {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
        background: #000;
        color: #fff;
    }
</style>
<!-- page title -->
@section Header{
    <div class="page-title">
        <div class="grid-row">
            <h1>About ARN Focus IIT</h1>
            <!-- bread crumb -->
            <nav class="bread-crumb">
                <a href="#">About</a>
                <i class="fa fa-long-arrow-right"></i>
                <a href="">Introduction</a>
            </nav>
            <!-- / bread crumb -->
        </div>
    </div>
}
<!-- / page title -->
<!--Table-->
<div class="container">
    <div class="page-content container clear-fix">

        <div class="grid-col-row">

            <div class="grid-col grid-col-9">
                <!-- main content -->
                <main>
                    <section class="clear-fix">
                        <img src="~/pic/Building2X.png" data-at2x="~/pic/Building2X.png" class="border-img img-float-left" alt="">
                        <p style="text-align:justify">The ARN Focus IIT has been established in 2014 by 3 IITians </p>
                        <div class="block-overflow">
                            <ul class="check-list">
                                <li>Late Anand Rathi</li>
                                <li>Rajesh Dad</li>
                                <li>Nikhil Punglia</li>
                            </ul>
                        </div>
                        <p style="text-align:justify">ARN Focus IIT is situated at Meera Nagar, Chittorgarh (Rajasthan). The only institute in radius of 180 km, with highly experienced and qualified faculties mostly IITians and NITians. It is about 165 kms. north of Jaipur. The institute can be reached either by rail or by road. The nearest railway stations are Narnaul (3 kms.) and Chirawa (1 kms.)</p>
                        <p style="text-align:justify">The Institute has 6000 square feet in the center of city. The serenity of the hill locks all around endow the campus with an ideal environment for education.</p>
                        <p style="text-align:justify">ARN Focus IIT was inaugurated to impart quality education of world class standards, reflecting the latest advances in the field of education and research with state-of-the-art academic and administrative infrastructure. The institute has a well-stocked and furnished library, wide open spaces, A/C classroom.</p>
                        <p style="text-align:justify">ARN Focus IIT offers world-class infrastructure, highly qualified and dedicated faculties and excellent environment for academic and intellectual growth.</p>
                        <p style="text-align:justify">The institute focuses on comprehensive growth of the students, working on their hearts and minds by addressing to their academic, cultural, physical and social needs in an environment of continuous interaction and growth, conducive for the enrichment of mind and body. The faculty is fully committed to impart quality education by investing all its skills and knowledge. The institute endeavours not only to produce excellent academic results but also to produce excellent and successful professionals.</p>
                        <p style="text-align:justify">Special emphasis is laid on communication skills and personality development. The uniqueness of our curriculum and various programmes, lies in promoting a strong passion in the students - for all round excellence with perfection; for meeting the challenges head on with due emphasis on ethical and moral values through broad -based management skills. The institute produces knowledgeable young citizens capable of creating a better and prosperous India through inter-cultural understanding and respect.</p>
                    </section>
                    <hr class="divider-color">
                    <!-- quote -->
                    <section>
                        <h1>What We Provide...</h1>
                        <ul>
                            <li style="text-transform:capitalize;">Regular Class room study & Smart Classes.</li>
                            <li style="text-transform:capitalize;">One to one sessions for students.</li>
                            <li style="text-transform:capitalize;">Series of regular Minor and Major Test.</li>
                            <li style="text-transform:capitalize;">Doubt sessions & Sheet discussion classes.</li>
                            <li style="text-transform:capitalize;">Study Material prepared for all competitive exams.</li>
                            <li style="text-transform:capitalize;">Disciplined & Competitive Environment.</li>
                            <li style="text-transform:capitalize;">Top and dedicated faculties.</li>
                            <li style="text-transform:capitalize;">A.C. Class rooms.</li>
                            <li style="text-transform:capitalize;">Regular Feedback system.</li>
                            <li style="text-transform:capitalize;">Motivational Lectures.</li>
                        </ul>
                    </section>
                    <!-- / quote -->
                    <hr class="divider-color">
                    <section>
                        <!-- carousel -->
                        <div class="widget-popular carousel-container">
                            <div class="title-carousel">
                                <h1>Our History...</h1>
                                <ul>
                                    <li style="">10th Board Results - 50 % of students scored 10 CGPA . (90% of students scored above 9 CGPA).</li>
                                    <li style="">Our Student were Selected in NSO Exams.</li>
                                    <li style="">Our students are Top Rankers in their respective schools.</li>
                                </ul>
                            </div>
                        </div>
                        <!-- / carousel -->
                    </section>
                </main>
                <!-- / main content -->
            </div>
            <div class="grid-col grid-col-3 sidebar">
                <aside>
                    <h2>Like as On Facebook...</h2>
                    <div class="fb-page" data-href="https://www.facebook.com/arnfocusiit/" data-tabs="timeline" data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/arnfocusiit/"><a href="https://www.facebook.com/arnfocusiit/">ARN FOCUS IIT</a></blockquote></div></div>
                </aside>
                <!-- / course finder -->
                <!-- widget follow -->
                <aside class="widget-subscribe">
                    <h2>Follow &amp; Subscribe</h2>
                    <hr class="divider-big margin-bottom">
                    <div><a href="#" class="fa fa-twitter"></a><a href="" class="fa fa-skype"></a><a href="" class="fa fa-google-plus"></a><a href="" class="fa fa-rss"></a><a href="" class="fa fa-youtube"></a></div>
                </aside>
                <!-- / widget follow -->
            </div>
        </div>
    </div>
</div>
<br />
