
@{
    ViewBag.Title = "VissionMission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- page title -->
@section Header{
    <div class="page-title">
        <div class="grid-row">
            <h1>Vision and Mission</h1>
            <!-- bread crumb -->
            <nav class="bread-crumb">
                <a href="#">About</a>
                <i class="fa fa-long-arrow-right"></i>
                <a href="">Vision and Mission</a>
            </nav>
            <!-- / bread crumb -->
        </div>
    </div>
}
<!-- / page title -->
<div class="container">
    <h2>Vision</h2>
    <p>We envision the institute network to go beyond the boundaries of the home state to reach out to deserving students.</p>
    <br />
    <h2>Mission</h2>
    <p>Strengthen the institute with top class Faculty.</p>
    <p>Providing platform that would put on  track the career of students in their respective fields by providing them quality education.</p>
</div>
<br />



