@{
    ViewBag.Title = "Fee Structure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!-- page title -->
<div class="page-title">
    <div class="grid-row">
        <h1>Fee Structure</h1>
        <!-- bread crumb -->
        <nav class="bread-crumb">
            <a href="#">Student Zone</a>
            <i class="fa fa-long-arrow-right"></i>
            <a href="">Fee Structure</a>
        </nav>
        <!-- / bread crumb -->
    </div>
</div>
<!-- / page title -->
<!--Table-->
<div class="container">
    <h3>Fee Structure</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="alert-info">
                <tr>
                    <td rowspan="2">Course</td>
                    <td rowspan="2">Course Fee (Rs)</td>
                    <td colspan="2">Installments</td>
                    <td rowspan="2">Single Installment</td>
                </tr>
                <tr>
                    <td>1st</td>
                    <td>2nd</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>UDAAN-VIII</td>
                    <td>16200</td>
                    <td>10000</td>
                    <td>6200</td>
                    <td>15400</td>
                </tr>
                <tr>
                    <td>UDAAN-IX</td>
                    <td>20200</td>
                    <td>12000</td>
                    <td>8200</td>
                    <td>19200</td>
                </tr>
                <tr>
                    <td>UDAAN-X</td>
                    <td>24700</td>
                    <td>14700</td>
                    <td>10000</td>
                    <td>23500</td>
                </tr>
                <tr>
                    <td>LAKSHYA-XI</td>
                    <td>45000</td>
                    <td>27000</td>
                    <td>18000</td>
                    <td>43000</td>
                </tr>
                <tr>
                    <td>LAKSHYA-XII</td>
                    <td>50500</td>
                    <td>30500</td>
                    <td>20000</td>
                    <td>48000</td>
                </tr>
                <tr>
                    <td>LAKSHYA-XI & XII</td>
                    <td>85000</td>
                    <td>36000</td>
                    <td>25000 | 24000</td>
                    <td>80000</td>
                </tr>
                <tr>
                    <td>PRAYATNA-XI(NCERT 7500*3)</td>
                    <td>21000</td>
                    <td>13000</td>
                    <td>8000</td>
                    <td>20000</td>
                </tr>
                <tr>
                    <td>PRAYATNA-XII(NCERT 8000*3)</td>
                    <td>22000</td>
                    <td>14000</td>  
                    <td>8000</td>
                    <td>21000</td>
                </tr>
            </tbody>
        </table>
    </div>  
</div>
<br />